Blog For Multiple Linear Regression : 

https://towardsdatascience.com/simple-and-multiple-linear-regression-with-python-c9ab422ec29c#:~:text=Simple%20linear%20regression%20is%20a%20linear%20approach%20to%20model%20the,the%20function%20n%20independent%20variables.

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [48]:
data = pd.read_csv('/content/knn_imputed_df_Aoti.csv')
data.head()

,Unnamed: 0,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
0,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,4.4,2013-03-01 00:00:00
1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,4.7,2013-03-01 01:00:00
2,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,5.6,2013-03-01 02:00:00
3,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,3.1,2013-03-01 03:00:00
4,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,2.0,2013-03-01 04:00:00

In [49]:
df = data.drop(['datetime'],axis=1)

In [50]:
df.drop(df.columns[df.columns.str.contains("unnamed",case=False)],axis=1,inplace=True)

In [51]:
df.head()

   PM2.5  PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0    4.0   4.0   4.0   7.0  300.0  77.0  -0.7  1023.0 -18.8   0.0   4.4
1    8.0   8.0   4.0   7.0  300.0  77.0  -1.1  1023.2 -18.2   0.0   4.7
2    7.0   7.0   5.0  10.0  300.0  73.0  -1.1  1023.5 -18.2   0.0   5.6
3    6.0   6.0  11.0  11.0  300.0  72.0  -1.4  1024.5 -19.4   0.0   3.1
4    3.0   3.0  12.0  12.0  300.0  72.0  -2.0  1025.2 -19.5   0.0   2.0

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   35064 non-null  float64
 1   PM10    35064 non-null  float64
 2   SO2     35064 non-null  float64
 3   NO2     35064 non-null  float64
 4   CO      35064 non-null  float64
 5   O3      35064 non-null  float64
 6   TEMP    35064 non-null  float64
 7   PRES    35064 non-null  float64
 8   DEWP    35064 non-null  float64
 9   RAIN    35064 non-null  float64
 10  WSPM    35064 non-null  float64
dtypes: float64(11)
memory usage: 2.9 MB

In [53]:
# df['Datetime'] = pd.to_datetime(df[['year','month','day','hour']])

In [54]:
# df1 = df.drop(['year','month','day','hour'],axis=1)

In [55]:
df.head()

   PM2.5  PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0    4.0   4.0   4.0   7.0  300.0  77.0  -0.7  1023.0 -18.8   0.0   4.4
1    8.0   8.0   4.0   7.0  300.0  77.0  -1.1  1023.2 -18.2   0.0   4.7
2    7.0   7.0   5.0  10.0  300.0  73.0  -1.1  1023.5 -18.2   0.0   5.6
3    6.0   6.0  11.0  11.0  300.0  72.0  -1.4  1024.5 -19.4   0.0   3.1
4    3.0   3.0  12.0  12.0  300.0  72.0  -2.0  1025.2 -19.5   0.0   2.0

In [56]:
df.tail()

       PM2.5  PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
35059   12.0  29.0   5.0  35.0  400.0  95.0  12.5  1013.5 -16.2   0.0   2.4
35060   13.0  37.0   7.0  45.0  500.0  81.0  11.6  1013.6 -15.1   0.0   0.9
35061   16.0  37.0  10.0  66.0  700.0  58.0  10.8  1014.2 -13.3   0.0   1.1
35062   21.0  44.0  12.0  87.0  700.0  35.0  10.5  1014.4 -12.9   0.0   1.2
35063   19.0  31.0  10.0  79.0  600.0  42.0   8.6  1014.1 -15.9   0.0   1.3

In [57]:
df.isnull().sum()

PM2.5    0
PM10     0
SO2      0
NO2      0
CO       0
O3       0
TEMP     0
PRES     0
DEWP     0
RAIN     0
WSPM     0
dtype: int64

In [58]:


# df.set_index('datetime')

In [59]:

df.shape

(35064, 11)

In [60]:
# df.drop(['datetime'],axis=1)

In [61]:

# train = df[df['datetime']<'2021']
# # train = train.set_index('Datetime')
# train = train.drop(['datetime'],axis=1)
# train.tail()

In [62]:
X = df.drop('PM2.5',axis=1)

In [63]:
y = df['PM2.5']

In [64]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=30)

In [65]:
X_train.shape

(26298, 10)

In [66]:
y_train.shape

(26298,)

In [67]:
X_test.shape

(8766, 10)

In [68]:
y_test.shape

(8766,)

In [69]:
y_test

10335     19.0
30514     22.0
18770     34.0
9085      16.0
30208     81.0
         ...
29346     80.0
2513      80.0
3247     164.0
29079     10.0
21652     23.0
Name: PM2.5, Length: 8766, dtype: float64

In [70]:
# train.info()

In [71]:
# test = df1[df1['datetime']>'2021']
# test = test.drop(['datetime'],axis=1)
# test.head()

In [72]:
# test.info()

In [73]:
# X = df1.iloc[:, 1:].values
# y = df1.iloc[:, 0].values

In [74]:
# X_train = train.drop(['PM2.5'],axis=1)
# X_train

In [75]:
# y_train = train['PM2.5']
# y_train

In [76]:
print("Size of X_train : ", X_train.shape)
print("Size of y_train : ", y_train.shape)

Size of X_train :  (26298, 10)
Size of y_train :  (26298,)

In [77]:
# X_test = test.drop(['PM2.5'],axis=1)
# X_test

In [78]:
# y_test = test['PM2.5']
# y_test

In [79]:
print("Size of X_test : ", X_test.shape)
print("Size of y_test : ", y_test.shape)

Size of X_test :  (8766, 10)
Size of y_test :  (8766,)

In [80]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state  = 20)

In [81]:
from sklearn.linear_model import LinearRegression

mlr = LinearRegression()
mlr.fit(X_train,y_train)

LinearRegression()

In [82]:
y_predict = mlr.predict(X_test)

In [83]:
# y_pred = model.predict(X_test)

In [84]:
mlr.score(X_test,y_test)

0.8524676610555862

In [85]:
# model.confusion

In [86]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_predict))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_predict))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_predict)))

Mean Absolute Error: 20.447635209951475
Mean Squared Error: 986.5342743973741
Root Mean Squared Error: 31.409143165603453